<h1>Title:</h1><%= @song.title%><br>
<h2>Release Year:</h2><%= @song.release_year%><br>
<h2>Genre:</h2><%= @song.genre%><br>
<h2>Artist:</h2><%= @song.artist_name%><br>
<%= link_to "Edit Song", edit_song_path%>
